# 后端依赖
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
pyjwt
passlib == 1.7.4
bcrypt == 4.0.1
aliyun-python-sdk-core
aliyun-python-sdk-dysmsapi
python-jose
python-multipart
requests
openai
mcp>=0.1.0
